<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.higgsontech.stella">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@mipmap/nios"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DashBoard / MainActivity -->
        <activity
            android:name=".Login"
            android:label="User Login" >
        </activity>
        <activity android:name=".Dashboard"
            android:label="Dashboard">
        </activity>

        <activity android:name=".ViewCenters"
            android:label="View Colleges">
        </activity>

        <activity android:name=".Permissions"
            android:label="Permission">
        </activity>

        <activity android:name=".PaymentStatus"
            android:label="Payment Status">
        </activity>

        <activity android:name=".Attendance"
            android:label="My Attendance">
        </activity>

        <activity android:name=".ViewProfile"
            android:label="Profile">
        </activity>

        <activity android:name=".CityActivity"
            android:label="Select city for Exam Center">
           </activity>


        <activity
            android:name=".CenterListActivity"
            android:label="Center List"
            android:parentActivityName=".CityActivity">
            <intent-filter>
                <action android:name="com.example.aman.CenterListActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".CenterDetailsActivity"
            android:label="Fix the Exam Center"></activity>
        <activity android:name=".ViewFixedCentersActivity"
            android:label="All Fixed Centers"/>
        <activity android:name=".PermissionDenied"
            android:label="Deny Permissions to unauthorized users"></activity>


        <activity android:name=".Roles.CenterHead">
    </activity>

        <activity android:name=".Roles.Invigilator">
        </activity>
        <activity android:name=".Roles.ZoneHead">
        </activity>
        <activity android:name=".Roles.OSDS">
        </activity>
        <activity android:name=".Roles.CentralOfficer">
        </activity>
        <activity android:name=".AuthActivity">
        </activity>
<activity android:name=".ImpersonationTest">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC16Z0laYhW8Py27WMT6R9GpFT_HbziBFE"/>

    </application>

</manifest>