<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.higgsontech.stella">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DashBoard / MainActivity -->
        <activity
            android:name=".Login"
            android:label="User Login" >
        </activity>
        <activity android:name=".Dashboard"
            android:label="Dashboard">
        </activity>

        <activity android:name=".FixExamCenter"
            android:label="Fix Exam Center">
        </activity>

        <activity android:name=".ViewColleges"
            android:label="View Colleges">
        </activity>

        <activity android:name=".ImpersonationCheck"
            android:label="Student's Impersonation Check">
        </activity>

        <activity android:name=".PaymentStatus"
            android:label="Payment Status">
        </activity>

        <activity android:name=".Attendance"
            android:label="My Attendance">
        </activity>

        <activity android:name=".ViewProfile"
            android:label="Profile">
        </activity>

    </application>

</manifest>